---
interface Props {
  listTitle: string;
  listItems: {
    title: string;
    description: string;
    pdf?: string; // <-- campo opcional para PDF
  }[];
}

const { listTitle, listItems } = Astro.props;
---

<h2 class="text-2xl font-bold mb-6">{listTitle}</h2>
<div class="grid gap-6 mb-12">
  {
    listItems.map((item) => (
      <div class="p-6 bg-base-200 rounded-xl text-base-content">
        <h3 class="text-xl font-semibold mb-3">{item.title}</h3>
        <p class="mb-3">{item.description}</p>

        {item.pdf && (
          <div class="mt-2">
            <embed 
              src={item.pdf} 
              type="application/pdf" 
              class="w-full h-96 border rounded" 
            />
          </div>
        )}
      </div>
    ))
  }
</div>
